body {
    background-image: url("bg.png");
    background-color: rgb(19, 17, 17);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.connect {
    border: rgb(72, 161, 72) 2px solid;
    border-radius: 25px;
    text-align: center;
    outline: none;
}

#email,
#email::placeholder,
#pass,
#pass::placeholder,
#submit {
    color: lightgray;
    position: absolute;
    background-color: black;
    left: 1.5%;
    width: 11.5%;
    box-sizing: border-box;
}

#email {
    top: 8.5%;
}

#pass {
    top: 12.5%;
}

#submit {
    top: 16.5%
}

#connect {
    border: rgb(72, 161, 72) 2px solid;
    text-align: center;
    outline: none;
    width: 250px;
    height: 250px;
}