* {
    box-sizing: border-box;
}

body {
    background-image: url("bg.png");
    background-color: rgb(19, 17, 17);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.title {
    font-size: 1.45vw;
}

.connect {
    border: rgb(72, 161, 72) 2px solid;
    border-radius: 25px;
    text-align: center;
    outline: none;
}

#host,
#host::placeholder,
#email,
#email::placeholder,
#pass,
#pass::placeholder,
#submit {
    color: lightgray;
    position: absolute;
    background-color: black;
    left: 1.5%;
    width: 11.5%;
}

#host:focus,
#email:focus,
#pass:focus {
    transition: 0.5s ease-in;
    border-color: white;
}

#host {
    top: 8.5%;
}

#email {
    top: 12.5%;
}

#pass {
    top: 16.5%;
}

#submit {
    top: 20.5%;
}

#connect-content {
    border: rgb(72, 161, 72) 2px solid;
    text-align: center;
    outline: none;
    width: 14vw;
    height: 25vh;
}

#chat-content {
    border: rgb(72, 161, 72) 2px solid;
    padding: 0.25vw;
    outline: none;
    position: absolute;
    left: 15vw;
    top: 0.8vh;
    width: 50vw;
    height: 40vh;
    overflow-y: auto;
}

#msg {
    border: rgb(72, 161, 72) 2px solid;
    background-color: black;
    outline: none;
    color: white;
    position: relative;
    top: 36vh;
    left: -0vw;
    width: 21vw;
}

#send {
    border: rgb(72, 161, 72) 2px solid;
    background-color: black;
    outline: none;
    color: white;
    position: relative;
    top: 36vh;
    left: 0vw;
    width: 7.5vw;
}

#chatBox {
    margin: 0;
    display: inline;
    font-size: 1vw;
}

#body {
    z-index: -4;
    position: absolute;
    top: 8.5%;
    left: 3.5%;
    width: 7%;
    height: auto;
}

#status {
    text-align: center;
    position: absolute;
    font-size: 1vw;
    top: 30vh;
    left: 6vw;
}